.toggle-sidebar .container-chat{
    position: absolute;
    width: 76%;
    top: 60px;
    right: 20px;
}

.container-chat{
    position: absolute;
    width: 56%;
    top: 60px;
    right: 20px;
    transition: all 0.3s;
}