.sidebar-chat{
    position: fixed;
    top: 60px;
    left: 300px;
    bottom: 0;
    padding-left: 0px;
    margin-left: 0px;
    width: 300px;
    z-index: 800;
    transition: all 0.3s;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #ffffff;
}

.toggle-sidebar .sidebar-chat{
    left: 0;
}

.sidebar-chat i{
    color: #4154f1;
    font-size: 33px;
}

.sidebar-chat h5{
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 22px;
}

.sidebar-chat ul{
    margin-bottom: 2px;
}

.sidebar-chat .card{
    height: 50px;
    margin-bottom: 19px;
    padding-top: 13px;
}

.sidebar-chat a.card:hover{
    background-color: rgba(9, 77, 195, 0.1);
}

